
@keyframes colorChange {
    0% {
      background-color: red;
    }

    25% {
      background-color: blue;
    }

    50% {
      background-color: green;
    }

    75% {
      background-color: yellow;
    }

    100% {
      background-color: purple;
    }
  }

  #inputdado {
    width: 15rem;
    height: 15rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/pergaminho.png);
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    font-size: 45px;
    visibility: hidden;
    left: 30rem;
    top: 4rem;
    position: absolute;
    border-radius: 5px;
  }